@import "header.css";

:root{
    --dark-blue: #0c0615;
    --blue: #0062ff;
    --light-blue: #AED2FF;
    --light: #f9fcff;
}
html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    background-color: #6c6b6b; 
}
header{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1;
}